@font-face {
	font-family: "_icons";
	src: url('../fonts/_icons.eot');
	src: url('../fonts/_icons.eot?#iefix') format('eot'),
		url('../fonts/_icons.woff2') format('woff2'),
		url('../fonts/_icons.woff') format('woff'),
		url('../fonts/_icons.ttf') format('truetype'),
		url('../fonts/_icons.svg#_icons') format('svg');
}

@mixin _icon-styles {
	font-family: "_icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%_icon {
	@include _icon-styles;
}

@function _icon-char($filename) {
	$char: "";

	@if $filename == cross {
		$char: "\E001";
	}

	@return $char;
}

@mixin _icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %_icon;
		} @else {
			@include _icon-styles;
		}
		content: _icon-char($filename);
	}
}

._icon-cross {
	@include _icon(cross);
}